{% extends "base.html" %}

{% block title %} Register {% endblock title %}

{% block body_header_title %} Regsiter {% endblock body_header_title %}


{% block body_main %}

<p>Already have an account? <a href="/accounts/login">Login</a></p>

<form action="" method="post">{% csrf_token %}

{{ form.non_field_errors }}

  <div class="fieldWrapper">
    {{ form.username.errors }}
    <label for="id_username">Username:</label>
    {{ form.username }}
  </div>

  <div class="fieldWrapper">
    {{ form.password.errors }}
    <label for="id_password">Password:</label>
    {{ form.password }}
  </div>

  <div class="fieldWrapper">
    {{ form.password2.errors }}
    <label for="id_password2">Re-enter Password:</label>
    {{ form.password2 }}
  </div>

   <input type="submit" value="register" />

   <!-- where to go after login. Can also be passed as a url parameter -->
   <input type="hidden" name="next" value="{{ next|escape }}" />
</form>

{% endblock body_main %}
