<form action="" name="project_edit_form" id="project_edit_form">{% csrf_token %}
<img src="/static/images/close.png" class="close_button" onclick="piman_clear_hide('overlay');" />

    <h1 class="form_title">Edit Project:</h1>

    {{ form.non_field_errors }}
   
    <span class="id hidden">{{id}}</span>

    <div class="fieldWrapper">
        {{ form.name.errors }}
        <label for="id_name">Name:</label>
        {{ form.name }}
    </div>

    <div class="fieldWrapper">
        {{ form.description.errors }}
        <label for="id_description">Description:</label>
        {{ form.description }}
    </div>

    <div class="fieldWrapper">
        {{ form.start_year.errors }}
        <label for="id_start_year">Start Year:</label>
        {{ form.start_year }}
    </div>

    <div class="fieldWrapper">
        {{ form.end_year.errors }}
        <label for="id_end_year">End Year:</label>
        {{ form.end_year }}
    </div>

    <div class="fieldWrapper">
        {{ form.notes.errors }}
        <label for="id_notes">Notes:</label>
        {{ form.notes }}
    </div>

    <div class="fieldWrapper">
        {{ form.students.errors }}
        <label for="id_students">Students:</label>
        {{ form.students }}
    </div>

    <div class="fieldWrapper">
        {{ form.tags.errors }}
        <label for="id_tags">Tags:</label>
        {{ form.tags }}
    </div>

    <button>Not a submit button</button>
   
    <div class="form_buttons">
        <button class="submit_button" onclick="piman_project_edit_submit({{id}})">Submit</button>
        <!--button class="submit_button" onclick="piman_submit('project_edit_form','/project/edit/{{id}}'); return(false)">Submit</button-->
        <!--button  class="submit_button"  onclick="piman_submit('project_edit_form','/project/edit/{{id}}', function(){piman_clear_hide('overlay'); piman_fill_show('student_block','/pis/students_block')}); return false;">Submit</button-->
    </div>
</form>

