{% extends 'base.html' %}

{% block title %} PI Profile {% endblock title %}

{% block body_header_title %} PI Profile {% endblock body_header_title %}

{% block body_main %}

{% if pi %}

  {% include 'pis/pi_info.html' %}

  {% include 'pis/students.html' %}
  {% include 'pis/teaching.html' %}
  {% include 'pis/grants.html' %}
  {% include 'pis/publications.html' %}

{% else %}
    <p>Can't locate your account details. Please contact the administrator.</p>
{% endif %}

{% endblock body_main %}

{% block footer_javascript_page %}
<script language="JavaScript" type="text/javascript"
src="/static/js/pi_home.js"></script>
{% endblock footer_javascript_page %}

