  <h1>Student Projects</h1>
    <table>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Year</th>
          <th>End Year</th>
          <th>Students</th>
      </tr>
      {% for project in projects %}
      <tr>
          <td><span onclick="piman_edit('project', {{project.id}}); piman_fill_show('students_block','/pis/students_block');" class="ajax_link" >{{project.name}}</span></td>
          <td>{{project.description}}</td>
          <td>{{project.start_year}}</td>
          <td>{{project.end_year}}</td>
          <td>{% for student in project.students.all %}
                  <span onclick="piman_edit('student', {{student.id}})" class="ajax_link" >{{student.name}} ({{student.level}} candidate)</span>
              {% endfor%}
          </td>
      </tr>
      {% endfor %}
    </table>
