<div id="student_block_{{pi.id}}" class="student_block, block">
  <h1>Student Projects</h1>
    <table>
      <tr>
          <th>Name</th>
          <th>Description</th>
          <th>Start Year</th>
          <th>End Year</th>
          <th>Students</th>
      </tr>
      {% for project in projects %}
      <tr>
          <td><span onclick="piman_edit('project', {{project.id}})" class="edit_link" >{{project.name}}</span></td>
          <td>{{project.description}}</td>
          <td>{{project.start_year}}</td>
          <td>{{project.end_year}}</td>
          <td>{% for student in project.students.all %}
                  {{student.name}} ({{student.level}} candidate)
              {% endfor%}
          </td>
      </tr>
      {% endfor %}
    </table>
</div>
