  <h1>Teaching Committments</h1>

<!-- Still to do - flag course and module somehow if the 
     PI is an organiser. 

     Link course name and module name to course or module 
     page.

     Add a link to create a new teaching commitment

 -->

    <table>
      <tr>
          <th>Course Name</th>
          <th>Module Name</th>
          <th>Contact Hours</th>
          <th>Notes</th>
      </tr>
     {% for tc in teaching_commitments %}
      <tr>
          <td><span onclick="piman_edit('course', {{tc.course_module.course.id}})" class="ajax_link" >{{tc.course_module.course.name}}</span></td>
          <td><span onclick="piman_edit('module', {{tc.course_module.module.id}})" class="ajax_link" >{{tc.course_module.module.name}}</span></td>
          <td>{{tc.contact_hours}}</td>
          <td>{{tc.notes}}</td>
      </tr>
      {% endfor %}
    </table>


