body {
  background-color: #FFFFEE;
  font-family: Verdana, Arial, sans;
}

div.block {
  border: 1px solid black;
  padding: 0.2em;
  margin: 1em
}
div.block h1 {
  font-size: medium;
}
div.block h2 {
  font-size: small;
}
table {
  width: 100%;
}
th, td{
  border: 1px solid black;
  padding: 0.2em
}

/* for ajax forms */
.error
{
color: red;
}
.success
{
font-weight: bold;
}

.overlay{
}

#notifications style.cssabout{
  background-color: #ff8080;
  border: 3px solid #800000;
  display: none;
  padding: 20px; 
}

#submit{
  border: 2px solid black;
  font-size: 2em;
  margin-left: 10px;
}


.edit_link
{
color:blue;
cursor: pointer;
}
