body {
  background-color: #FFFFEE;
}

div.block {
  border: 1px solid black;
  padding: 0.2em;
  margin: 1em
}
div.block h1 {
  font-size: medium;
}
div.block h2 {
  font-size: small;
}
table {
  width: 100%;
}
th, td{
  border: 1px solid black;
  padding: 0.2em
}

/* for ajax forms */
.error
{
color: red;
}
.success
{
font-weight: bold;
}

