{% block dtd %}
<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN"
"http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
{% endblock dtd %}

{% block html_tag %}
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en">
{% endblock html_tag %}

{% block head %}
<head>
  <title>{% block title %}{{ page.title }}{% endblock title %}</title>
  {% block head_favicon %}
    <link rel="icon" href="/static/favicon.ico" type="x-icon" />
    <link rel="shortcut icon" href="/static/favicon.ico" ype="x-icon" />
  {% endblock head_favicon %}
  {% block head_meta %}
    {% block head_meta_author%}{% endblock head_meta_author %}
    {% block head_meta_charset %}
      <meta http-equiv="Content-Type" content="text/html;
charset=UTF-8" />
    {% endblock head_meta_charset %}
    {% block head_meta_contentlanguage %}
      <meta http-equiv="Content-Language" value="en-GB" />
    {% endblock head_meta_contentlanguage %}
    {% block head_meta_description %}
    {% endblock head_meta_description %}
    {% block head_meta_keywords %}
    {% endblock head_meta_keywords %}
    {% block head_meta_othertags %}
    {% endblock head_meta_othertags %}
    {% block head_meta_refresh %}
    {% endblock head_meta_refresh %}
    {% block head_meta_robots %}
    {% endblock head_meta_robots %}
  {% endblock head_meta %}

  {% block head_rss %}{% endblock head_rss %}

  {% block head_css %}
    {% block head_css_site %}
      <link rel="stylesheet" type="text/css" href="{{ STATIC_URL }}css/piman.css" />
    {% endblock head_css_site %}
    {% block head_css_section %}
    {% endblock head_css_section %}
    {% block head_css_page %}{% endblock head_css_page %}
  {% endblock head_css %}

</head>
{% endblock head %}

{% block body %}
<body>

<div id="nav">
{% block nav %}
<ul>
<li><a href="/accounts/profile">Home</a></li>
<li><a href="/accounts/login">Login</a></li>
<li><a href="/accounts/logout">Logout</a></li>
</ul>
{% endblock nav %}
</div>

<div id="sidebar">
{% block body_sidebar %}{% endblock body_sidebar %}
</div>

<div id="content">
{% block body_content %}

  <div id="header">
  {% block body_header %}
    {% block body_header_banner %}
    {% endblock body_header_banner %}
    {% block body_header_title %}<h1>
      {{ page.title }}</h1>
    {% endblock body_header_title %}
    {% block body_header_breadcrumb %}
      {{ page.breadcrumb }}
    {% endblock body_header_breadcrumb %}
  {% endblock body_header %}
  </div>

  {% block body_announcements %}
  {% endblock body_announcements %}

  <!-- For ajax calls -->
  <div id="notifications"><div id="notifications_content"></div></div>
  <div id="overlay"></div>

  {% block body_main %}{% endblock body_main %}

{% endblock body_content %}
</div>

<div id="footer">
{% block body_footer%}
  {% block body_footer_breadcrumb %}
    {{ page.breadcrumb }}
  {% endblock body_footer_breadcrumb %}
  {% block body_footer_legal %}
  {% endblock body_footer_legal %}
{% endblock body_footer %}
</div>

</body>
{% endblock body %}

{% block footer %}
  {% block footer_javascript %}
  {% block footer_javascript_site %}
    <!-- piman.js is just jquery.js + json2.js -->
    <script language="JavaScript" type="text/javascript" src="/static/js/piman.js"></script>
    <!-- and I'll add piman_common.js to piman.js when I've finished writing it -->
    <script language="JavaScript" type="text/javascript" src="/static/js/piman_common.js"></script>
  {% endblock footer_javascript_site %}
  {% block footer_javascript_section %}
  {% endblock footer_javascript_section %}
  {% block footer_javascript_page %}
  {% endblock footer_javascript_page %}
  {% endblock footer_javascript %}
{% endblock footer %}

</html>


